@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.add-form {
  max-width: 450px;
  width: 80%;
  min-width: 250px;
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control {
  margin: 10px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  height: 33px;
  border: 1px solid #959595;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px;
  outline: none;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}

.form-control input:focus {
  border: 1px solid rgb(211, 223, 254);
  box-shadow: 0 0 5px rgb(73, 125, 247);
}

.error-message {
  color: red;
  font-size: 13px;
  margin-left: 2px;
}

.form-control.error input {
  border: 1px solid red;
}

.form-control.error input:focus {
  box-shadow: 0 0 5px red;
}