<form class="add-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control" [class.error]="form.get('firstName')?.invalid && formSubmitted">
        <input type="text" formControlName="firstName" id="firstName" placeholder="Eesnimi" autocomplete="given-name"
            oninput="this.value = this.value.toUpperCase()" />
        <div class="error-message" *ngIf="form.get('firstName')?.hasError('required') && formSubmitted">
            Eesnimi on kohustuslik.
        </div>
    </div>
    <div class="form-control" [class.error]="form.get('lastName')?.invalid && formSubmitted">
        <input type="text" formControlName="lastName" id="lastName" placeholder="Perenimi" autocomplete="family-name"
            oninput="this.value = this.value.toUpperCase()" />
        <div class="error-message" *ngIf="form.get('lastName')?.hasError('required') && formSubmitted">
            Perenimi on kohustuslik.
        </div>
    </div>
    <div class="form-control" [class.error]="form.get('address')?.invalid && formSubmitted">
        <input #addressField type="text" [value]="selectedAddress" placeholder="Aadress" (input)="onInputChange(addressField.value)">
        <button class="clear-btn" *ngIf="addressField.value.length > 0" (click)="clearInput(); addressField.value=''"></button>
        <ul *ngIf="resultAddresses && resultAddresses.length > 0">
            <li *ngFor="let result of resultAddresses" (click)="pickAddress(result.ipikkaadress)">
                {{ result.ipikkaadress }}
            </li>
        </ul>
        <div class="error-message" *ngIf="form.get('address')?.hasError('required') && formSubmitted">
            Aadress on kohustuslik.
        </div>
    </div>
    <button type="submit" class="btn btn-block">Salvesta</button>
</form>